@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Dornweg 22<br />
    74193 Schwaigern-Niederhofen<br />
    <abbr title="Phone">P:</abbr>
    +49 151 419 56 223
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">christian.dums@gmx.de</a><br />
</address>