@{
    ViewBag.Title = "Home";
}
<div>
    <br />
    <p class="lead">Welcome to my simlple calendar project. 
    <p class="lead">Feel free to explore the application and try it out.</p>
    <br />
    <br/>
    <p class="lead">Have fun :)!</p>
</div>